<header>
<div class="login-logo">
  <img class="about-img" src="/jibun.jpg">
</div>
</header>

<div class="graph">
  <div class="graph-name">1.毎日１時間勉強する</div>
  <div class="graph-pull">
    <select name=”startdate”>
      <option value=”1”>2020年6月</option>
      <option value=”2”>2020年7月</option>
    </select>
  </div>


</div>