<header>
<div class="login-logo">
  <img class="about-img" src="/jibun.jpg">
</div>
</header>

<div class="login form">
  <div class="login form-title">
    繰返し反復ノート
  </div>
  <div class="login form-user">
    ユーザ：<input type="text" ></input>
  </div>
  <div class="login form-password">
    パスワード：<input type="password" ></input>
  </div>
  <div class="login form-button">
    <input type="submit" value="ログイン">
    <a href="main">メイン画面へ</a>
  </div>
</div>

<a href="https://qiita.com/windhorn/items/c149c733b57a72510982">スマホページ切替参考</a>
<a href="https://qiita.com/Y_uuu/items/0d57748954c7cdb9bbcb">グラフ表示する</a>