<header>
<div class="login-logo">
  <img class="about-img" src="/jibun.jpg">
</div>
</header>

<div class="mokuhyou setting">
  <div>
  繰り返し反復項目設定​<br>
  <input type="button" onClick="location.href='setting'" value="一覧から選択"></input><br>
  ​カテゴリ：
          <select name=”category”>
            <option value=”1”>3倍の反応</option>
            <option value=”2”>うなずく</option>
            <option value=”3”>相手の話を承認（褒める）</option>
            <option value=”4”>鷲のエネルギー</option>
            <option value=”5”>正論を言わない</option>
          </select>
          <br>
  題名：<input type="text"></input>
  <br>
  概要：<input type="text"></input>
  <br>
    <div class="commit">
      <input type="button" value="設定"></input>
    </div>
    <br>
  </div>
</div>