<header>
<div class="header-logo">
  <a href="/">Topページ</a>
</div>
<ul class="header-menus">
  <li>
    <a href="/about">使用方法</a>
  </li>
</ul>
</header>

<div class="about-main">
  <h2>使用方法について</h2>
  <p>
  目標を設定します。達成します。自分力がUPします！！
  </p>
  <img class="about-img" src="/jibun.jpg">
</div>