<header>
<div class="header-logo">
  <a href="/">Topページ</a>
  <a href="posts/index">index</a>
</div>
<ul class="header-menus">
  <li>
    <a href="/about">使用方法</a>
  </li>
</ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>さらなる高みへ、進め</h2>
    <p>目標を達成して自分力を上げよう</p>
  </div>
</div>